<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
      <server>
        <id>maven-snapshots</id>
        <username>maven</username>
        <password>maven123@</password>
      </server>
      <server>
        <id>maven-releases</id>
        <username>maven</username>
        <password>maven123@</password>
      </server>
      <server>
        <id>central</id>
        <username>maven</username>
        <password>maven123@</password>
      </server>
    </servers>
    <mirrors>
      <mirror>
        <id>central</id>
        <name>central</name>
        <url>https://nexus.uberlandia.mg.gov.br/repository/maven-public/</url>
        <mirrorOf>*</mirrorOf>
      </mirror>
    </mirrors>
</settings>